// The Marist House Cup
// src > scss > index.scss
// Created on 18 November 2020
// Updated 22 January 2020 (Version 1.0)

@import './global.scss';

// Elements

main {
	padding-top: 64px;
}

#hero {
	align-items: center;
	background-color: hsl(0, 0, 96);
	display: flex;
	height: calc(100vh - 64px);
	justify-content: space-between;
	position: relative;
	.text-container {
		max-width: 450px;
	}
	h1 {
		color: hsl(0, 0, 65);
		font: 600 75px $font-serif;
		line-height: 1;
		margin: 0;
		span {
			@include vendor-prefixes(transform, rotate(-90deg));
			@include vendor-prefixes(transform-origin, left top);
			display: inline-block;
			font-size: 29px;
			margin: 64px -8px -64px 0;
			vertical-align: top;
		}
	}
	h5 {
		color: $color-wood;
		font-size: 20px;
		font-weight: 500;
		margin-top: 20px;
		&::before {
			border-bottom: 1.5px solid $color-wood;
			content: '';
			display: inline-block;
			margin-right: 14px;
			margin-top: 13px;
			vertical-align: top;
			width: 30px;
		}
	}
	#images-container {
		bottom: -1px;
		display: inline-block;
		height: calc(100vh - #{30px + 64px});
		margin-right: calc(50% - #{$page-max-width / 2});
		position: fixed;
		right: 0;
	}
	img {
		display: inline-block;
		object-fit: cover;
	}
	#hero-image {
		height: 100%;
		margin-bottom: 100%;
		object-position: left top;
		width: calc(#{371 / 667} * (100vh - 94px));
	}
	#design-image {
		bottom: 0;
		height: 0;
		left: 0;
		object-position: left bottom;
		position: absolute;
		width: 100%;
	}
	&::after {
		background: url(../images/scroll-indicator.svg) no-repeat;
		bottom: 30px;
		content: "";
		height: 84px;
		position: absolute;
		width: 9px;
	}
}

section {
	h2 {
		@include text-outline(hsl(0, 0, 35));
		color: white;
		font: 400 100px $font-serif;
	}
	p {
		color: hsl(0, 0, 55);
		font-size: 16px;
	}
	.section-header {
		padding-top: 120px;
		h2 {
			margin: 0;
			text-align: center;
		}
		p {
			margin: 5px auto 90px;
			max-width: 530px;
			text-align: center;
		}
	}
}

#design {
	display: flex;
	justify-content: space-between;
	padding-bottom: 150px;
	padding-top: 150px;
	.text-container {
		max-width: 330px;
	}
	h2 {
		margin: 68px 0 0;
		position: relative;
		&::after {
			border-bottom: 1.5px solid $color-wood;
			bottom: 0;
			content: '';
			display: inline-block;
			left: 0;
			position: absolute;
			width: 123px;
		}
	}
	p {
		margin-top: 60px;
	}
	img {
		display: inline-block;
		height: calc(100vh - #{64px + 30px});
		visibility: hidden;
	}
}

#materials {
	background-color: hsl(0, 0, 96);
	padding-bottom: 140px;
	.section-header {
		h2 {
			color: hsl(0, 0, 96);
		}
	}
	.material {
		display: flex;
		justify-content: space-between;
		margin-bottom: 28px;
		img {
			height: 240px;
			margin-bottom: -100%;
			margin-left: 85px;
			object-fit: contain;
			width: 330px;
		}
		#rhodium {
			z-index: 3;
		}
		#stainless-steel {
			z-index: 2;
		}
		#rosewood {
			z-index: 1;
		}
		.text-container {
			padding: 0 55px 0 35px;
			width: calc(50% - #{55px + 35px});
		}
		h3 {
			color: hsl(0, 0, 15);
			font: 500 24px $font-serif;
			margin: 0;
		}
		p {
			margin: 9px 0 0;
		}
	}
}

#gallery {
	background-color: hsl(0, 0, 96);
	padding-bottom: 120px;
	.section-header {
		h2 {
			color: hsl(0, 0, 96);
		}
	}
}
