// The Marist House Cup
// src > scss > stylesheet
// Copyright © 2020 Ayden Gebran. All rights reserved.
// Created by Ayden Gebran on 6 October 2020
// Updated October 2020 (Version 1.0)

// Colors

$color-wood: hsl(10, 40, 40);
$color-gold: hsl(40, 40, 60);
$color-mid-green: hsl(166, 35, 15);
$color-dark-green: hsl(166, 38, 11);

// Fonts

$font-default: 'Avenir Next', 'Avenir', Helvetica, Arial, sans-serif;
$font-heading: 'Poppins', $font-default;
$font-serif: -apple-system-ui-serif, ui-serif, Georgia, serif;

// Text Outline

@mixin text-outline($color) {
	text-shadow: -1px 0 $color, 0 1px $color, 1px 0 $color, 0 -1px $color;
}

// Size Classes

$page-margin: 40px;
$page-max-width: 900px;
.page-width {
	padding-left: calc((100% - #{$page-max-width}) / 2 + #{$page-margin});
	padding-right: calc((100% - #{$page-max-width}) / 2 + #{$page-margin});
}
@media only screen and (max-width: $page-max-width) {
	.page-width {
		padding-left: $page-margin;
		padding-right: $page-margin;
	}
}
@media only screen and (max-width: 512px) {
	.page-width {
		padding-left: $page-margin / 2;
		padding-right: $page-margin / 2;
	}
}

// Alignment

@mixin horizontal-align {
	left: 50%;
	position: relative;
	transform: translateX(-50%);
}

// Vendor Prefixes

@mixin vendor-prefixes($property, $style) {
	#{$property}: $style;
	-moz-#{$property}: $style;
	-ms-#{$property}: $style;
	-o-#{$property}: $style;
	-webkit-#{$property}: $style;
}

// Elements

html, body {
	font-family: $font-default;
	margin: 0;
}

header {
	background-color: hsl(0, 0, 96);
	border-bottom: 1px solid white;
	box-sizing: border-box;
	height: 64px;
	position: fixed;
	width: 100%;
	z-index: 10;
	a {
		text-decoration: none;
	}
	img {
		margin-top: 12px;
	}
	nav {
		@include horizontal-align;
		display: inline-block;
		margin-left: -32px;
		vertical-align: top;
	}
	ul {
		display: flex;
		justify-content: start;
		list-style: none;
		margin: 20px 0;
		padding: 0;
		li {
			margin: 0 20px;
			position: relative;
			&.active::after {
				border-bottom: 1px solid #8F4B3D;
				bottom: -6px;
				content: '';
				left: 0;
				position: absolute;
				width: 20px;
			}
		}
		a {
			color: hsl(0, 0, 30);
			font-size: 17px;
			font-weight: 400;
		}
	}
}

main {
	padding-top: 64px;
}

#hero {
	align-items: center;
	background-color: hsl(0, 0, 96);
	display: flex;
	height: calc(100vh - 64px);
	justify-content: space-between;
	.text-container {
		max-width: 400px;
	}
	h1 {
		color: hsl(0, 0, 65);
		font: 600 75px $font-serif;
		line-height: 1;
		margin: 0;
		span {
			@include vendor-prefixes(transform, rotate(-90deg));
			@include vendor-prefixes(transform-origin, left top);
			display: inline-block;
			font-size: 29px;
			margin: 64px -8px -64px 0;
			vertical-align: top;
		}
	}
	h5 {
		color: $color-wood;
		font-size: 20px;
		font-weight: 500;
		margin-top: 20px;
		&::before {
			border-bottom: 1.5px solid $color-wood;
			content: '';
			display: inline-block;
			margin-right: 14px;
			margin-top: 13px;
			vertical-align: top;
			width: 30px;
		}
	}
	img {
		display: inline-block;
		height: calc(100% - 30px);
		margin-top: 31px;
		object-fit: contain;
	}
}

section {
	h2 {
		@include text-outline(hsl(0, 0, 35));
		color: white;
		font: 400 100px $font-serif;
	}
	p {
		color: hsl(0, 0, 55);
		font-size: 16px;
	}
}

#design {
	display: flex;
	justify-content: space-between;
	padding-bottom: 150px;
	padding-top: 150px;
	.text-container {
		max-width: 330px;
	}
	h2 {
		margin: 68px 0 0;
		position: relative;
		&::after {
			border-bottom: 1.5px solid $color-wood;
			bottom: 0;
			content: '';
			display: inline-block;
			left: 0;
			position: absolute;
			width: 123px;
		}
	}
	p {
		margin-top: 60px;
	}
	img {
		display: inline-block;
		height: calc(100vh - #{64px + 30px});
	}
}

#materials {
	background-color: hsl(0, 0, 96);
	padding-bottom: 140px;
	padding-top: 120px;
	.section-header {
		h2 {
			color: hsl(0, 0, 96);
			margin: 0;
			text-align: center;
		}
		p {
			margin: 5px 0 90px;
			text-align: center;
		}
	}
	.material {
		h3 {
			color: hsl(0, 0, 15);
			font: 500 24px $font-serif;
			margin: 0;
		}
		p {
			margin: 9px 0 0;
		}
	}
}